extends base 
block vars 
  - var title = 'Login' 

block body 
  h1 Login In To Your Account 
  
  if errors
    ul
      each err in errors 
        li= err

  form(method='POST') 
    span Email: 
    input(type='text' name='email' required)
    br  
    span Password: 
    input(type='password' name='password' required)
    br
    input(type='submit' value='Login')