extends base 

block vars 
  - var title = 'Registration' 

block body 
  if errors
    ul
      each err in errors 
        li= err
  h1 Create an Account 
  //- the default method for forms is post 
  form(method='POST') 
    span Email: 
    input(type='text' name='email' )
    br  
    span Password: 
    input(type='password' name='password' )
    br
    input(type='submit' value='register')